<div class="section">
  <div class="container">
    <div class="content is-medium is-narrow">

      <h2><%= t('.contact_me') %></h2>

     <%= form_with model: @contact do |f| %>
        <div class="field">
        <%= f.text_field_with_label :name%>
        </div>

        <div class="field">
          <%= f.email_field_with_label :email %>
        </div>

        <div class="actions">
          <%= f.submit_primary "Send Email" %>
        </div>
      <% end %>

    </div>
  </div>
</div>