<!DOCTYPE html>
<html>
  <head>
    <title>PersonalPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
   
    
    <script src="https://kit.fontawesome.com/dfdcb7635e.js" crossorigin="anonymous"></script>
  </head>
  <section class="hero is-primary is-small">
      <div class="hero-body is-small">
        <div class="columns">
          <div class="column is-12">
            <div class="container content">
              <h1 class="title is-1 hero-title">Nico Roulston</h1>
              <h1 class="subtitle">Full Stack <em>Developer</em> </h1>
              <h3 class="subtitle">
              A jack of all trades is a master of none, but oftentimes better than a master of one
              </h3>
            </div>
          </div>
        </div>
      </div>
      
    </section>
    <section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-3 ">
        <div class="is-medium menu sticky">
          <p class="menu-label">
            categories
          </p>
          <ul class="menu-list">
            <li ><a href="#about" class="is-active"><i class="far fa-address-card"></i></i> About</a></li>
            <li ><a href="#projects" class="is-active"><i class="fas fa-code"></i></i>  Projects</a></li>
            <li><a href="#resume" class="is-active"><i class="far fa-file-alt"></i></i> JSON Resume</a></li>
          </ul>
          <p class="menu-label">
            Links
          </p>
          <ul class="menu-list">
            <li><a href="#projects" class="tag is-white is-medium"> GitHub</a></li>
            <li><a href="#projects" class="tag is-white is-medium"></i> Blog</a></li>
            <li><a href="#projects" class="tag is-white is-medium"></i> bitSized Good</a></li>
            
          </ul>
        </div>
      </div>
  <body>
    <%= yield %>
  </body>


    
<script>
  window.addEventListener('resize', () => {
  const divs = document.querySelectorAll(".menu-list");
  if (window.innerWidth < 768){
    divs.forEach(div => div.classList.add("tags"));
  }
  else {
    divs.forEach(div => div.classList.remove("tags"));
  }
});
</script>  
</html>
